.mocktests-container{
    min-height:100vh;
    padding:40px;
    background:#f8fafc;
}

.mocktests-header{
    text-align:center;
    margin-bottom:50px;
}

.mocktests-header h2{
    font-size:42px;
    font-weight:800;
    color:#0f172a;
    margin-bottom:10px;
}

.mocktests-header p{
    color:#64748b;
    font-size:17px;
}

.topics-grid{
    max-width:1400px;
    margin:auto;

    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(260px,1fr));

    gap:24px;
}

.topic-card{
    background:white;

    border-radius:20px;

    padding:28px;

    min-height:160px;

    cursor:pointer;

    border:1px solid #e2e8f0;

    transition:.25s ease;

    box-shadow:
    0 4px 12px rgba(0,0,0,.04);
}

.topic-card:hover{
    transform:translateY(-6px);

    box-shadow:
    0 20px 40px rgba(0,0,0,.08);

    border-color:#38bdf8;
}

.topic-card h3{
    color:#0f172a;

    font-size:28px;

    margin-bottom:25px;
}

.topic-card span{
    color:#06b6d4;

    font-size:17px;

    font-weight:600;
}