.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
  background-color: black;
  color: white;

  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.navbar h3 {
  margin: 0;
  font-size: 20px;
}

.navbar button {
  margin-left: 12px;
  padding: 8px 16px;

  border: none;
  background-color: white;
  color: black;

  cursor: pointer;
  border-radius: 4px;

  transition: 0.2s ease;
}

.navbar button:hover {
  background-color: #ddd;
}
@media(max-width:768px){

  .navbar{
    flex-direction:column;
    gap:10px;

    text-align:center;

    padding:15px;
  }

}